<footer>
	<div class="container">
		<div class="content-footer row">
			<div class="column-footer col-lg-5 col-md-8 col-sm-7">
				<img src="images/logo.jpg"/>
				
			</div>
			<div class="column-footer col-lg-4 col-md-5 col-sm-7">
				<h1 style="color:#FFFF">Horarios:</h1>
				<ul id="restaurant-hours">
					<br/>
					<li>
						<span class="span-left"><h3>Almuerzo:</h3></span>
					</li>
					<li>
						<span class="span-left">Martes - Domingo</span>
						<span class="span-right">{{env.hours_early}}</span>
					</li>
					<br/>
					<li>
						<span class="span-left"><h3>Cena:</h3></span>
					</li>
					<li>
						<span class="span-left">Martes - Domingo</span>
						<span class="span-right">{{env.hours_late}}</span>
					</li>
					<li>
						<span class="span-left">Saturday - Sunday</span>
						<span class="span-right">4:30PM - 10:00PM</span>
					</li>
					<li>
						<br/>
						<span class="span-left"><h3>Cerrado:</h3></span>
						<span class="span-right">{{env.closed}}</span>
					</li>
				</ul>
				<div class="line-divide first-line"></div>
			</div>
			<div class="column-footer col-lg-3 col-md-3 col-sm-7">
				<ul>
					<li>{{env.address}}</li>
					<li>Contacto: +506 87050407</li>
					<li id="follow-us"> 
						<a style= "padding-right:18px;padding-left:0px" target="_blank" href="https://www.facebook.com/bashosushi/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a style= "padding-right:18px;padding-left:0px" target="_blank" href="https://www.instagram.com/sushibasho/?hl=es"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</li>
				</ul>
				<a href="https://www.ubereats.com/cr/store/nacionsushi-escazu/rfGol5nzQmSPnKGGvBDzEw"><img src="images/ubereats.png"></a>
                {{! <h3>Useful links</h3>
				<ul id="useful-links">
					<li>
						<span class="span-left">
							<a href="index.html">Home</a>
						</span> 
						<span class="span-right">
							<a href="shop-page.html">Features</a>
						</span>
					</li>
					<li>
						<span class="span-left">
							<a href="menu-01.html">Menus</a>
						</span> 
						<span class="span-right">
							<a href="blog-list-with-sidebar-01.html">Blog</a>
						</span>
					</li>
					<li>
						<span class="span-left">
							<a href="reservation-01.html">Reservation</a>
						</span> 
						<span class="span-right">
							<a href="contact-us.html">Contact us</a>
						</span>
					</li>
					<li><a href="about-us.html">About us</a></li>
				</ul> }}
				<div class="line-divide second-line"></div>
			</div>
			
		</div>
	</div>
	<div class="wrap-bottom-footer">
		<div class="container">
			<div class="bottom-footer row justify-content-between">
				<div class="col-12 col-sm-7">&copy; {{env.name}} Sushi Fusion. All rights reserved.</div>
				{{! <div class="col-12 col-sm-5"><span>Privacy policy</span><span>Terms of use</span></div> }}
			</div>
		</div>
	</div>
</footer>