<title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

    <link rel="stylesheet" href="coffeepublic/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="coffeepublic/css/animate.css">
    
    <link rel="stylesheet" href="coffeepublic/css/owl.carousel.min.css">
    <link rel="stylesheet" href="coffeepublic/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="coffeepublic/css/magnific-popup.css">

    <link rel="stylesheet" href="coffeepublic/css/aos.css">

    <link rel="stylesheet" href="coffeepublic/css/ionicons.min.css">

    <link rel="stylesheet" href="coffeepublic/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="coffeepublic/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="coffeepublic/css/flaticon.css">
    <link rel="stylesheet" href="coffeepublic/css/icomoon.css">
    <link rel="stylesheet" href="coffeepublic/css/style.css">