<script src="coffeepublic/js/jquery.min.js"></script>
  <script src="coffeepublic/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="coffeepublic/js/popper.min.js"></script>
  <script src="coffeepublic/js/bootstrap.min.js"></script>
  <script src="coffeepublic/js/jquery.easing.1.3.js"></script>
  <script src="coffeepublic/js/jquery.waypoints.min.js"></script>
  <script src="coffeepublic/js/jquery.stellar.min.js"></script>
  <script src="coffeepublic/js/owl.carousel.min.js"></script>
  <script src="coffeepublic/js/jquery.magnific-popup.min.js"></script>
  <script src="coffeepublic/js/aos.js"></script>
  <script src="coffeepublic/js/jquery.animateNumber.min.js"></script>
  <script src="coffeepublic/js/bootstrap-datepicker.js"></script>
  <script src="coffeepublic/js/jquery.timepicker.min.js"></script>
  <script src="coffeepublic/js/scrollax.min.js"></script>
  <script src="coffeepublic/js/main.js"></script>