<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
	<title>Login Page</title>

    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo.jpg')}}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
    
</head>

<body style="background-image: url({{url_for('static', filename='images/login_background.jpg')}});">
    {% block login %}
    {% from "macros/_form_builder.html" import form_render %}
    {% from "macros/_error_input.html" import error_render %}

    <div align="left" style="float: right; float: inline-end; padding-right: 5%; padding-top: 5%; ">
        <h1 ><a href="/">←</a></h1>    
    </div>
    <div class="container">
        
        <div class="d-flex justify-content-center h-100">
            
            <div class="card">
                
                <div class="card-header">
                    
                    <h3>Inicio de Sesión</h3>
                </div>

                <div class="card-body">
                    <form method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            
                            {{ form_render(form.username, type="text", class="form-control", placeholder="Usuario") }}
                            
                        </div>
                        {{error_render(form.username)}}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form_render(form.password, type="password", class="form-control", placeholder="Contraseña") }}
                            
                        </div>
                        {{error_render(form.password)}}
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recordarme
                        </div>
                    
                        <div class="form-group">
                            <!-- <input id="btn_login" type="submit" value="Login" class="btn float-right login_btn"> -->
                            <button id="btn_login" type="submit" class="btn float-right login_btn">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        ¿No tiene cuenta?<a href="\register">Regístrese</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">¿Olvidó su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
