
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo.jpg')}}"/>

		<!-- Website CSS style -->
		<link href="{{url_for('static',filename='coffeepublic/css/bootstrap.min.css')}}" rel="stylesheet">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        

		<title>Registro</title>
	</head>
	<body>
        {% block register %}
        {% from "macros/_form_builder.html" import form_render %}
		{% from "macros/_error_input.html" import error_render %}
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">

                <!-- <div class="btn">
                    <input type="button" class="btn" value="Return" onclick="/login">
					<a href="/login"></a> 

					<button><a href="\login">Return</a></button>
                </div> -->

				<div align="left" style="float: right; float: inline-end; padding-right: 5%; vertical-align: top;">
					<a href="/login"><h1 ><p style="color: white;">←</p></h1></a>  
					<br/>
				</div>

				<h3>Regístrese.</h3>

                <hr class="mt-2 mb-3" />
					<form class="" method="post">
                        
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Su nombre</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<!-- <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>/ -->
									{{ form_render(form.name, type="text", class="form-control", placeholder="Nombre") }}
								</div>
								{{error_render(form.name)}}
							</div>
						</div>

                        <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Su apellido</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<!-- <input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/> -->
									{{ form_render(form.apellido, type="text", class="form-control", placeholder="Apellido") }}
								</div>
								{{error_render(form.apellido)}}
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Su correo</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<!-- <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/> -->
									{{ form_render(form.email, type="text", class="form-control", placeholder="Correo") }}
								</div>
								{{error_render(form.email)}}
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Usuario</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<!-- <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/> -->
									{{ form_render(form.username, type="text", class="form-control", placeholder="Usuario") }}
								</div>
								{{error_render(form.username)}}
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<!-- <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/> -->
									{{ form_render(form.password1, type="password", class="form-control", placeholder="Contraseña") }}
								</div>
								{{error_render(form.password1)}}
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirmar Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<!-- <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/> -->
									{{ form_render(form.password2, type="password", class="form-control", placeholder="Confirme contraseña") }}
								</div>
								{{error_render(form.password2)}}
							</div>
						</div>

						<!-- <div class="form-group ">
							<a target="_blank" type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
						</div> -->
						<div class="form-group">
                            <button id="btn_login" type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
						
					</form>
				</div>
			</div>
		</div>

    {% endblock %}

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static',filename='coffeepublic/js/bootstrap.min.js')}}"></script>
	</body>
</html>